*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background:#0d4074;
    height: 100rem;
}

.header{
    height: 20rem;
    background:#eee;
    display: flex;
    justify-content: space-between;
    padding-right: 8rem;
    padding-left: 6rem;
    background: #0d4074;
}

.logo{
    height: 20rem;
    width: 20rem;

}

.naviegatie{
    height: 18rem;
    width: 100rem;
    border-left: 0.1rem solid black;
    display:flex ;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.nav{
    list-style: none;
    color: black;
    font-size: 3rem;
}

.nav:hover{
    color: rgb(8, 60, 157);
    cursor: pointer;
}


.SDG-BlockMain{
    width: 100%;
    height: 70rem;
    display: flex;
    gap: 2rem;
    background:#0d4074;
}

.SDG-BlockSection{
    width: 50%;
    height: 100%;
    background: #eee;
    border-radius: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
}

.SDG-BlockSection-H1{
    font-size: 4rem;
    font-family: sans-serif;
    padding-left: 6rem;
    padding-top: 4rem;
}

.SDG-BlockSection-IMG{
    width: 30rem;
    height: 30rem;
    margin-left: 15rem;
    margin-top: 5rem;
}

.SDG-BlockSection-CTA{
    width: 88%;
    height: 20rem;
    background: red;
    margin-left: 5rem;
    margin-top: 2rem;
}

.SDG-BlockSection2{
    width: 50%;
    height: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    margin-top: 3rem;
    margin-right: 3rem;
}

.SDG-BlockText{
    width: 50%;
    height: 50%;
    margin-top: 12rem;
}

.SDG-BlockText-H1-1{
    font-size: 4rem;
}

.SDG-BlockText-P-1{
    font-size: 2rem;
}

.SDG-BlockText-H1-2{
    font-size: 4rem;
}

.SDG-BlockText-P-2{
    font-size: 2rem;
}